.config-wrapper .cart .col1 .panel-container .panel ul li .fauxItem {
  position: relative;
  width: 80px;
  height: 80px;
}
.config-wrapper .cart .col1 .panel-container .panel ul li .fauxItem .rockerItem, .config-wrapper .cart .col1 .panel-container .panel ul li .fauxItem .plateItem {
  position: absolute;
  left: 0;
  top: 0;
}
.config-wrapper .cart .col1 .panel-container .panel ul li .fauxItem .rockerItem {
  z-index: 2000;
}
.config-wrapper .cart .col1 .panel-container .panel ul li .fauxItem .plateItem {
  z-index: 0;
}

nav div.nav-wrapper div.nav-btn div.navigation ul li.next a:hover {
	color: #bbbbbb;
	cursor: default;
}

nav div.nav-wrapper div.nav-btn div.navigation ul li.next a:hover span {
	color: #dddddd;
	cursor: default;	
}

