.preview-wrapper .faux {
  position: relative;
}
.preview-wrapper .faux .plate, .preview-wrapper .faux .rocker {
  position: absolute;
  top: 0;
  left: 0;
}
.preview-wrapper .faux .rocker {
  z-index: 2000;
}
.preview-wrapper .faux .plate {
  z-index: 0;
}

nav div.nav-wrapper div.nav-btn div.navigation ul li.next a:hover {
	color: #bbbbbb;
	cursor: default;
}

nav div.nav-wrapper div.nav-btn div.navigation ul li.next a:hover span {
	color: #dddddd;
	cursor: default;	
}